html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.vh-75 {
    height: 75vh !important;
}

.mh-100 {
    max-height: 100% !important;
}

.m-100 {
    max-height: 100% !important;
    max-width: 100% !important;
}

.mw-100 {
    max-width: 100% !important;
}

.mh-75 {
    max-height: 75% !important;
}

.clickable {
    cursor: pointer;
    opacity: 1;
}

.clickable:hover {
    background-color: gray;
}

.sudoku-puzzle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    border-style: solid;
    border-width: 3px;
    border-color: black;

    aspect-ratio: 1;
}

.sudoku-block {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    border-style: solid;
    border-width: 1.5px;
    border-color: black;
}

.selected-cell {
    background-color: lightblue;
}